doctype html 
html(lang = "en")
    head 
        meta(charset = "UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ShelfOfTales
        link(rel='stylesheet' href='css/styles.css')
    body 
        .container
            h1 Welcome to Shelf Of Tales
            p.text Welcome Guyssss
        .nav-buttons 
            a.button(href="home.html") 
                p.links Home
            a.button(href="blabla.html") 
                p.links Home
            a.button(href="home.html")
                p.links Home
            a.button(href="home.html")
                p.links Home
            a.button(href="home.html")
                p.links Home
    script(src = "script.js")