doctype html 
html(lang = "en")
    head 
        meta(charset = "UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title ShelfOfTales
        link(rel='stylesheet' href='css/styles.css')
    body 
        .container
            h1 Welcome to Shelf Of Tales
            p.text Explore Endless Tales: Your eBook Haven Awaits at Shelf of Tales!
        .nav-buttons 
            a.button(href="home.html") 
                p.links Overview
            a.button(href="/html/bookreg.html") 
                p.links Sell Books
            a.button(href="/html/products.html")
                p.links BOOKS
            a.button(href="homee.html")
                p.links AUDIO BOOK
            a.button(href='/html/login.html')
                p.links LOG IN
    script(src = "script.js")