extends base
block content
    .container
        h1 Shelf Of Tales
        p.text Explore Endless Tales: Your eBook Haven Awaits at Shelf of Tales! <br><br>We are passionate about bringing stories to life for readers everywhere. Our digital shelves are filled with a vast collection of ebooks, carefully curated to satisfy the thirst for knowledge, adventure, and imagination. Whether you're seeking classic literature, contemporary bestsellers, or hidden gems from independent authors, our mission is to provide a seamless reading experience. We believe in the power of stories to inspire, transform, and transport you to worlds beyond the ordinary. Explore, discover, and lose yourself in the pages of Shelf Of Tales—where every book holds a new adventure waiting to unfold!
        include ./include/nav-buttons
        include ./include/contact