extends base
block head
    title #{title}
    link(rel="stylesheet" href=`css/${title}.css`)
block content
    .wrapper 
        form(action = "")
            h1 LOGIN
            .input-box 
                input( type= "text" placeholder="Username" required)
                <i class='bx bxs-user'></i>
            .input-box 
                input(type="password" placeholder="Password" required)
                <i class='bx bxs-lock-alt' ></i>
            .remember-forgot
                label
                    input(type = "checkbox") 
                    |   Remember Me
                a(href="/forget") Forgot Password
            button(type="submit" class="btn") LOGIN
            .register-link
                p Dont have an account? 
                    a(href = "/register") Register
